.container-right {
  display: flex;
  flex-direction: column;
  gap: 28px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  width: 600px;
  height: 788px;
  position: relative;
}
.number {
  color: var(--primary-green-500, #0f7c23);
  text-align: center;
  font-family: "HafferTrial-Regular",Helvetica;
  font-size: 80px;
  line-height: 100%;
  opacity: 0.21;
  position: relative;
  width: 100px;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.matters-text {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: flex-start;
  justify-content: flex-start;
  flex: 1;
  position: relative;
}
.h2 {
  color: var(--gray-800, #1F2937);
  font-family: "Haffer-TRIAL",Helvetica;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  text-align: left;
  position: relative;
  align-self: stretch;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.p{
  color: var(--gray-800, #1F2937);
  font-family: "Haffer-TRIAL",Helvetica;
  font-style: normal;
  font-weight: 430;
  font-size: 18px;
  text-align: left;
  position: relative;
  align-self: stretch;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.line {
  margin-top: -1px;
  border-width: 1px 0 0 0;
  border-style: solid;
  border-image: linear-gradient(
    90deg,
    rgba(255, 255, 255, 0) 0%,
    rgba(15, 124, 35, 1) 50%,
    rgba(255, 255, 255, 0) 100%
  );
  border-image-slice: 1;
  align-self: stretch;
  flex-shrink: 0;
  height: 0px;
  position: relative;
  transform-origin: 0 0;
  transform: rotate(0deg) scale(1, 1);
}
.matters-item {
  display: flex;
  flex-direction: row;
  gap: 24px;
  align-items: center;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
